.describe{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 10px;
}
.view{
	font-size: 0;
	width: 800px;
	height: 500px;
	margin-left: calc(50% - 400px);
	border: 1px solid #ccc;
}
.chat_list{
	font-size: 18px;
	float: left;
	width: 200px;
	height: 500px;
	background-color: rgb(54,63,72);
}
.history{
	font-size: 18px;
	float: left;
	width: 600px;
	height: 500px;
}
.history_box{
	display: block;
	height: 440px;
	background-color: rgb(240,240,240);
	overflow: scroll;
}
.msg_box{
	float: left;
	height: 60px;
	width: 500px;
}
.send_btn{
	font-size: 16px;
	width: 100px;
	height: 60px;
	border-radius: 0;
	border:none;
}
.send_btn:hover{
	background-color: rgb(84,210,137);
}
.text_input{
	border:none;
	height: 60px;
	padding: 0;
	padding-left: 5px;
	margin:0;
}

.text_input:focus{
	border-radius: 0;
	border:none;
}
.msg{
	font-size: 16px;
	list-style: none;
	padding: 5px;
	border: none;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
	background-color: white;
	/*box-shadow: 3px 3px 3px #ccc;*/
	display:inline;
	line-height: 40px;
}
.your_id{
	color: white;
	text-align: center;
}